.nav {
  z-index: 102;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  height: 3rem;
  margin-left: 3rem;
  background-color: $dark-1;
  padding: 3rem 0;
  @include media('<tablet') {
    margin: 0;
  }
  &__brand {
    .allan {
      display: block;
      font-weight: 900;
      font-size: 1.5rem;
    }
  }

  &__links {
    margin-left: 2rem;
    ul {
      display: flex;
      align-items: center;
      li {
        a {
          padding: 2rem;
          @include media('<phone') {
            padding: 0.5rem;
          }
          display: block;
          // @include underlineOnHover;
        }
      }
    }
  }

  &__icons {
    justify-self: flex-end;
    align-self: center;
    ul {
      display: flex;
      align-items: flex-end;
      li {
        cursor: pointer;
        padding-left: 1rem;
        .icon {
          position: relative;
          .icon__count {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $dark-1;
            margin: 0.2rem;
            font-size: 0.7rem;
            font-weight: 500;
          }
          svg {
            height: 1.7rem;
            width: 1.7rem;
            stroke: $white-2;
            &:hover {
              stroke: $white;
            }
          }
        }
      }
    }
  }
}
