.nav {
  text-transform: capitalize;
  position: relative;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-attachment: fixed;

  &__top {
    @include container;
    padding-right: 0;
    justify-content: space-between;
    @include flexAlignItemCenter;
    height: 4rem;
    overflow: hidden;
    // position: relative;
    .nav__logo {
      position: fixed;
      top: 0.8rem;
      display: flex;
      flex-direction: column;
      // mix-blend-mode: difference;
      color: $black--secondary;
      line-height: 1;
      letter-spacing: 0;
      color: $black;
      .allan {
        font-weight: 900;
        font-size: 150%;
      }
    }
    .nav__listTop {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          // border-left: 1px solid $border;
          cursor: pointer;
          padding: 1rem;

          .icon {
            position: relative;
            .icon__count {
              position: absolute;
              bottom: 0;
              right: 0;
              background-color: $background;
              margin: 0.2rem;
              font-size: 80%;
              font-weight: 500;
            }
            svg {
              height: 1.8rem;
              width: 1.8rem;
              &:hover {
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
  &__bottom {
    color: $black--secondary;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    overflow: hidden;
    .nav__listBottom {
      @include container;
      padding: 0;
      ul {
        height: 4rem;
        @include flexAlignItemCenter;
        justify-content: flex-end;
        font-size: 1rem;
        font-weight: 500;
        li {
          a {
            padding: 0.8rem;
            @include media('<phone') {
              padding: 0.5rem;
              font-size: 80%;
            }
            display: block;
            @include underlineOnHover;
          }
        }
      }
    }
  }
}
