.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: $background;
  overflow-x: hidden;
  @include customScroll;
  border-left: 2px solid $border;
  border-top: 1px solid $border;
  @include media('<tablet') {
    width: 80%;
  }
  @include media('<phone') {
    width: 100vw;
  }

  &__close {
    position: fixed;
    top: 1rem;
    left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
  }
  &__main {
    margin: 6rem 0 1rem 0;
    min-height: 60%;
    padding: 0 1rem;
    // text-align: center;
  }
}
