.authWrapper {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
  margin: 3rem 2rem 1rem 2rem;
  position: relative;
  h2 {
    font-family: $font-brand;
    font-weight: 500;
    font-size: 2rem;
    background-color: $background;
    position: absolute;
    top: -1rem;
    color: $black--secondary;
  }
  span {
    padding: 1.5rem 0;
    color: rgba($black, 0.7);
    color: $black--secondary;
  }
}
