.authWrapper {
  @include container;
  display: flex;
  flex-direction: column;
  position: relative;
  form {
    width: 50%;
    @include media('<tablet') {
      width: 70%;
    }
    @include media('<phone') {
      width: 100%;
    }
  }
  h2 {
    font-family: $font-brand;
    font-weight: 500;
    font-size: 2rem;
    background-color: $background;
    position: absolute;
    top: -1rem;
    color: $black--secondary;
  }
  span {
    padding: 0 0 2rem 2rem;
    color: rgba($black, 0.7);
    color: $black--secondary;
  }
  p {
    padding: 2rem 0;
    font-weight: 300;
    a {
      text-decoration: underline;
    }
  }
}
