.checkout_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  align-items: flex-start;
  justify-content: space-around;
}

.billing {
  transition: ease 3s;
}

table {
  margin-top: 2rem;
  border-spacing: 0;
  padding-top: 1.5rem;
  // border-top: $light-border;
  width: 100%;
  line-height: 1.75rem;
  // color: rgba($color-dark, 1);
  font-size: 0.9rem;

  thead {
    tr {
      th {
        padding-bottom: 0.5rem;
        //   border-bottom: $dark-border;
      }
    }
  }

  // thead th:first-of-type {
  //   text-align: left;
  // }

  // thead tr th:nth-of-type(2),
  // tbody tr td:nth-of-type(2),
  // tfoot tr td:nth-of-type(2) {
  //   text-align: right;
  // }

  tbody {
    tr {
      td {
        text-transform: capitalize;
        font-weight: 600;
      }

      &:first-of-type {
        td {
          padding-top: 0.5rem;
        }
      }

      // &:nth-last-child(2) {
      //   td {
      //     padding-bottom: 0.5rem;
      //   }
      // }

      // &:last-of-type {
      //   td {
      //     // border-top: $dark-border;
      //     padding: 0.5rem 0;
      //   }
      // }
    }
  }

  tfoot {
    tr.shipping {
      th {
        text-align: left;
        vertical-align: top;
      }

      td {
        text-align: right;

        ul {
          li {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 0.8rem;
            opacity: 0.75;

            input {
              transform: translateY(0.1rem);
              margin-left: 0.25rem;
            }
          }
        }
      }
    }

    tr {
      td,
      th {
        padding: 0.5rem 0;
        //   border-top: $dark-border;
        text-transform: capitalize;
        font-weight: 600;
      }

      // bdi {
      //   color: rgba($color-dark, 1);
      // }
    }
  }
}

ul.payment-options {
  margin: 2rem 0;
  li {
    margin: 1rem 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;

    input[type="radio"] {
      margin-right: 0.5rem;

      &:checked {
        & + label + div.po-box {
          opacity: 1;
          max-height: 10rem;
          margin-top: 1rem;
          padding: 1rem;
          transition: margin-top 0.3s ease-out, max-height 0.5s ease-out,
            opacity 0.3s ease 0.1s;
        }
      }
    }

    div.po-box {
      width: 100%;
      // background-color: rgba($color-dark-5, 0.1);
      // border: 1px solid rgba($color-dark-5, 0.5);
      // color: $color-dark-3;
      height: auto;
      opacity: 0;
      max-height: 0;
      pointer-events: none;
      &:last-of-type {
        img {
          height: 50px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
