.checkout_wrapper {
  padding: 1rem 0;
  @include container;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 2rem;
  .billing {
    transition: ease 3s;
    padding: 1rem 0;
  }

  .additional_info {
    margin-bottom: 1rem;
  }
}

table.orderDetail {
  font-weight: 500;
  margin: 2rem 0;
  border-spacing: 0;
  padding-top: 1.5rem;
  width: 100%;
  line-height: 1.75rem;
  font-size: 0.9rem;
  thead {
    tr {
      th {
        padding-bottom: 0.5rem;
      }
    }
  }

  thead th:first-of-type {
    text-align: left;
  }

  thead tr th:nth-of-type(2),
  tbody tr td:nth-of-type(2),
  tfoot tr td:nth-of-type(2) {
    text-align: right;
  }

  tbody {
    tr {
      td {
        text-transform: capitalize;
      }
      bdi {
        color: rgba($black, 1);
        font-weight: 600;
      }

      &:first-of-type {
        td {
          padding-top: 1rem;
        }
      }

      &:nth-last-child(2) {
        td {
          padding-bottom: 1rem;
        }
      }

      &:last-of-type {
        td {
          // border-top: $dark-border;
          padding: 1rem 0;
        }
      }
    }
  }

  tfoot {
    tr.shipping {
      th {
        text-align: left;
        vertical-align: top;
      }

      td {
        text-align: right;

        ul {
          li {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 0.8rem;
            opacity: 0.75;
            label {
              font-weight: 500;
              color: $black;
            }
            input {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }

    tr {
      td,
      th {
        padding: 0.5rem 0;
        border-top: 1px solid $black--secondary;
        text-transform: capitalize;
        font-weight: 600;
      }

      bdi {
        color: rgba($black, 1);
      }
    }
  }
}

ul.payment-options {
  // margin: 1.5rem 0 2rem 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $border;
  font-weight: 500;
  li {
    margin: 1rem 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;

    input[type='radio'] {
      margin-right: 0.5rem;

      &:checked {
        & + label + div.po-box {
          opacity: 1;
          max-height: 10rem;
          margin-top: 1rem;
          padding: 1rem;
          transition: margin-top 0.3s ease-out, max-height 0.5s ease-out,
            opacity 0.3s ease 0.1s;
        }
      }
    }

    div.po-box {
      width: 100%;
      height: auto;
      opacity: 0;
      max-height: 0;
      pointer-events: none;
      &:last-of-type {
        img {
          height: 50px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
