.shop {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5rem;
  @include container;
  &__toolbar {
    background-color: $white;
    grid-column: 1 / -1;
    align-self: center;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  &__filter {
    grid-column: 1 / 1;
    margin-right: 1rem;
    .shop__categories {
      border: 1px solid $border;
      border-radius: 0.5rem;
      padding: 1rem;
      margin-bottom: 1rem;
      .dropdown {
        padding-top: 0.5rem;
        cursor: pointer;
        span {
          display: block;
          font-weight: 800;
        }
        ul {
          // height: 0;
          overflow: hidden;
          transition: all linear 3s;
          &.active {
            height: 100%;
          }
          li {
            font-weight: 400;
            padding: 0.5rem 0;
            margin-left: 1rem;
          }
        }
      }
    }
    .shop__filters {
      font-weight: 400;
      border: 1px solid $border;
      border-radius: 0.5rem;
      padding: 1rem;
      .filter {
        padding-top: 0.5rem;
        span.title {
          display: block;
          font-weight: 800;
        }
        ul {
          li {
            padding: 0.5rem 0;
            margin-left: 1rem;
          }
        }
        &__showmore {
          font-size: 90%;
          margin-left: 1rem;
          font-weight: 700;
        }
      }
    }
  }
  &__products {
    grid-column: 2 / 3;
  }
}

// {
//     loading ? <Loading/> : error ? <Alert message={error} variant='danger'/>:
//     <CardBlockCollection
//         list={collections}
//         title="Shop"
//     />
// }
