.shop {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 5rem;
  @include container;
  &__toolbar {
    background-color: $white;
    grid-column: 1 / -1;
    align-self: center;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  &__filter {
    margin-right: 1rem;
    .shop__filterblock {
      border-radius: 0.5rem;
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }
  &__products {
    grid-column: 2 / 3;
  }
}
