.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    color: #f0f2f5;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    top: 0;
    right: 0;
    background-color: #2471A3 ;
    padding: 0 3px;
    border-radius: 2px;
  }
}
