.grid_bars{
  display: flex;
  width: 100%;
  .image{
    margin-right: 1rem;
    width: 500px;
  }
}

.image {
  height: 200px;
  border: none;
  background-repeat: no-repeat;
}

.action_container{
  .tags{
    margin: 5px 0;
  }
}
.actions{
  display: flex;
  justify-content: space-between;
}