.image {
  height: 211px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
}
.action_container{
  .tags{
    display: flex;
    flex-direction: column;
    margin: 5px 0;

  }
}
.actions{
  display: flex;
  justify-content: space-between;
}