.btn {
  padding: 0.8rem 1rem;
  border: none;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  color: $dark-1;
  font-size: 1rem;
  display: inline;
  outline: none;
  border-radius: 0.3rem;
  background-color: $primary;
  font-family: $font-primary;
  &:disabled {
    cursor: unset;
  }
  &:hover {
    color: $dark-2;
  }
}
