.btn {
  padding: 0.5rem;
  border: 1px solid $border;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  background-color: $black--secondary;
  color: $white;
  letter-spacing: 1px;
  display: inline;
  outline: none;
  &:disabled {
    cursor: unset;
  }
}
