.btn {
  padding: 0.5rem;
  border: 1px solid $border;
  font-weight: 800;
  cursor: pointer;
  text-transform: capitalize;
  background-color: $black--secondary;
  color: $white;
  letter-spacing: 2px;
  display: inline;
  outline: none;
  &:disabled {
    cursor: none;
  }
}
