.cardBlockShop {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
    align-items: flex-start;
    @include media('<tablet') {
      row-gap: 1rem;
      column-gap: 1rem;
    }
    @include media('<phone') {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      justify-content: center;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
    }
    //   @include media('<phone') {
    //     grid-template-columns: repeat(2, 10rem);
    //     justify-content: center;
    //   }
  }
  &__noresult {
    font-size: 4rem;
    color: #999592;
    text-align: center;
    padding-top: 4rem;
    position: relative;
  }
}
