.cart-item {
  height: 4rem;
  &__remove_button {
    cursor: pointer;
    font-size: 200%;
    font-weight: 700;
  }

  &__quantity {
    input[type='number'] {
      padding: 0 0.5rem;
      width: 3rem;
      outline: none;
      border: none;
      box-shadow: inset 0px 0px 52px 0px rgba(#a59e9e, 0.1);
      color: #696969;
      height: 3rem;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 0.5;
        height: 2rem;
      }
    }
  }
}
