.collapse-checkbox {
  padding: 0.5rem 0;
  .list {
    &__items {
      @include flexAlignItemCenter;
      position: relative;
      svg {
        height: 1.5rem;
        width: 1.5rem;

        cursor: pointer;
        position: absolute;
        right: -0.3rem;
      }
    }
    &__collapse {
      overflow: hidden;
      height: 0;
      &.active {
        height: auto;
      }
      ul {
        li {
          padding: 0.5rem 0;
          font-weight: 300;
          @include flexAlignItemCenter;
          justify-content: space-between;
          font-size: 90%;
          input {
            cursor: pointer;
          }
        }
      }
    }
  }
}
