.collapse-checkbox {
  .list {
    color: $white-2;
    &:hover {
      color: $white;
    }
    &__items {
      position: relative;
      padding: 1rem 0;
      display: block;
      cursor: pointer;
      .list__title {
        font-weight: 200;
        font-size: 1rem;
      }
      &.active {
        color: $white;
      }
    }
    &__collapse {
      width: 100%;
      height: auto;
      opacity: 0;
      max-height: 0;
      &.active {
        opacity: 1;
        max-height: 20rem;
        transition: max-height 0.5s ease-out, opacity 0.3s ease 0.1s;
      }
      ul {
        li {
          padding: 0.5rem 0 0.5rem 2rem;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $white-2;
          input {
            cursor: pointer;
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
