.collapse-checkbox {
  padding: 0.5rem 0;
  .list {
    &__items {
      cursor: pointer;
      @include flexAlignItemCenter;
      position: relative;
      .icon {
        transition: linear 0.3s;
        position: absolute;
        right: -0.3rem;
        &.icon--active {
          transform: rotate(180deg);
        }
      }
    }
    &__collapse {
      overflow: hidden;
      height: 0;
      &.active {
        height: auto;
      }
      ul {
        li {
          padding: 0.5rem 0;
          font-weight: 400;
          @include flexAlignItemCenter;
          justify-content: space-between;
          input {
            cursor: pointer;
          }
        }
      }
    }
  }
}
