.formBlock {
  margin: 0.5rem 0;
  position: relative;
  .label_inputs {
    color: $black--secondary;
    font-weight: 500;
  }
  .formfield {
    font-weight: 200;
    padding: 0.5rem;
    margin: 0.3rem 0 1rem 0;
    border: 1px solid $border;
    width: 100%;
    font-family: $font-primary;
  }
  .formfield--textarea {
    height: 51px;
  }
  .error_label {
    font-size: 70%;
    color: $red;
    position: absolute;
    bottom: 0.4rem;
    right: 0.5rem;
    font-weight: 500;
    background-color: $background;
  }
}
