.collection {
  &__title {
    padding: 2rem 0;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    @include media('<tablet') {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 0.5rem;
      column-gap: 0.5rem;
    }

    .collection__item {
      cursor: pointer;
      overflow: hidden;
      position: relative;
      border-radius: 0.3rem;
      justify-content: center;
      &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
        opacity: 1;
        & .collection__image {
          transform: scale(1.1);
        }
        & .collection__content {
          background-color: transparent;
          .collection__subtitle {
            opacity: 1;
          }
        }
      }
      .collection__image {
        transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        height: 15rem;
        max-height: 500px;
        max-width: 400px;
        background-repeat: no-repeat;
        backface-visibility: none;
      }
      .collection__content {
        // height: 3rem;
        transition: transform 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        padding: 0 0.5rem;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        position: absolute;
        box-shadow: $black;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($dark-1, 0.3);
        .collection__subtitle {
          margin-bottom: 6px;
          font-size: 2rem;
          opacity: 0.9;
          font-weight: 800;
          color: $dark-1;
          @include media('<tablet') {
            font-size: 2rem;
          }
        }
      }
    }
  }
}
