.loading_screen {
  background: #ece9e6;
  background: -webkit-linear-gradient(to bottom, #ce3636, #ece9e6);
  background: linear-gradient(to bottom, #ffffff, #ece9e6);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 9999;
  top: -10rem;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  right: 0;
}
