.product {
  padding: 1rem;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0px 4px rgba(0, 0, 0, 0.1);
  .product-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $background;
    cursor: pointer;
    line-height: 1.5;
    &:hover {
      .product-card__content {
        h2,
        h3 {
          opacity: 0.8;
        }
      }
    }

    .product-card__photo {
      transition: ease 0.3s;
      border-radius: 0.3rem;
      backface-visibility: hidden;
      max-height: 15rem;
      width: 100%;
      object-fit: cover;
    }

    &__content {
      padding-bottom: 0.5rem;
      h2 {
        font-size: 100%;
        font-weight: 500;
      }

      h3 {
        font-size: 80%;
        font-weight: 300;
        backface-visibility: hidden;
        border: none;
      }
    }
    &__actions {
      margin-top: 1rem;
      svg {
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
