.product-card {
  display: flex;
  transition: all 0.3s;
  justify-content: space-between;
  flex-direction: column;
  background-color: $background;
  border-radius: 0.3rem;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid $border;
  line-height: 1.5;
  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  &__photo {
    height: 15rem;
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
  }

  &__content {
    padding: 1rem;
    h2 {
      font-size: 100%;
      font-weight: 500;
      backface-visibility: hidden;
      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    h3 {
      font-size: 80%;
      font-weight: 300;
      backface-visibility: hidden;
      border: none;
    }
    .product-card__actions {
      margin-top: 1rem;
      svg {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
