.shop_toolbar {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  border-radius: 0.3rem;
  background-color: $dark-2;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  svg {
    margin: 0 0.2rem;
    cursor: pointer;
    height: 1.8rem;
    width: 1.8rem;
    stroke: $white-2;
  }
}
