.shop_toolbar {
  width: 100%;
  display: flex;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0px 4px rgba(0, 0, 0, 0.1);
}
