.featured_collection {
  .featured_image {
    overflow: hidden !important;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    .featured_action {
      position: absolute;
      bottom: 5%;
      right: 5%;
      padding: 4rem;
      color: $whitesmoke;
      border-radius: 0.3rem;
      .featured_tag {
        animation-duration: 3s;
        padding: 1rem;
        h1 {
          margin-bottom: 1rem;
          font-size: 3rem;
          word-wrap: break-word;
        }
        h2 {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.slider_wrapper {
  width: 100%;
  position: relative;
  .mySlide {
    display: none;
  }
}
