.customTable {
  width: 100%;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  margin: 2rem 0;
  padding: 2rem 0;
  tbody {
    font-size: 90%;
    tr {
      height: 4rem;
      text-align: center;
      &:nth-child(even) {
        background-color: $white;
      }
      th {
        text-align: start;
        padding: 0.5rem;
      }
      td {
        text-align: start;
        padding: 0.5rem;
        &:last-child {
          text-align: end;
        }
      }
    }
  }
}
