.crudTable {
  border-collapse: collapse;
  width: 100%;
  font-size: 100%;
  thead {
    th {
      padding: 0.8rem 0 0.8rem 0.5rem;
      text-align: left;
      background-color: $black--secondary;
      color: $color-royal-5;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: $white;
      }
    }
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  }
}
