.custom-text-area {
  position: relative;
  margin-top: 0.75rem;
  transition: margin-top 0.1s;

  &.has-input {
    margin-top: 2rem;
  }

  @mixin validLabel {
    transform: translate(-0.75rem, -1.8rem) scale(1.85);
    opacity: 0.75;
  }

  textarea {
    width: 100%;
    background-color: transparent;
    border-radius: 1px;
    color: $color-dark;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba($color-dark-5, 0.4);
    outline: 0;
    resize: vertical;

    &:focus,
    &:active {
      border: 1px solid rgba($color-dark-5, 1);

      & + label {
        @include validLabel;
      }

      & + span {
        @include validLabel;
      }
    }
  }

  label {
    pointer-events: none;
    top: 0.5rem;
    left: 0.75rem;
    transform-origin: left top;
    opacity: 0.65;
    position: absolute;
    font-weight: 600;
    font-size: 0.45rem;
    transform: scale(2);
    transition: all 0.3s;

    &.is-active {
      @include validLabel;
    }
  }

  span.placeholder {
    pointer-events: none;
    top: 1.75rem;
    left: 0.75rem;
    transform-origin: left top;
    opacity: 0.65;
    position: absolute;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.3s;

    &.is-active {
      opacity: 0;
      transform: translate(-0.75rem, -1.8rem);
    }
  }
}
