.custom-input-group {
  position: relative;
  margin-top: 1rem;

  transition: margin-top 0.1s;

  &.has-input {
    margin-top: 2.25rem;
  }

  @mixin validLabel {
    transform: translate(-0.75rem, -2.15rem) scale(1.85);
    opacity: 0.75;
  }

  input {
    width: 100%;
    background-color: transparent;
    border-radius: 1px;
    color: $color-dark;
    padding: 0.5rem 0.75rem;
    border: 1px solid rgba($color-dark-5, 0.4);
    outline: 0;

    &:focus,
    &:active {
      border: 1px solid rgba($color-dark-5, 1);

      & + label {
        @include validLabel;
      }
    }
  }

  label {
    pointer-events: none;
    top: 50%;
    left: 0.85rem;
    transform-origin: left center;
    opacity: 0.65;
    position: absolute;
    font-weight: 600;
    font-size: 0.45rem;
    transform: translateY(-50%) scale(2);
    transition: all 0.3s;

    &.valid {
      @include validLabel;
    }
  }

  .error {
    color: $red;
    display: block;
    // display: none;
    transform-origin: left top;
    bottom: -1.25rem;
    font-size: 0.9rem;
    opacity: 0.9;
    font-weight: 600;
    position: absolute;
  }
}
