.btn {
  padding: 0.5rem;
  border: 1px solid $border;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.btn--submit {
  background-color: $black--secondary;
  color: $white;
}

.btn--link {
  display: inline-block;
  background-color: $black--secondary;
  color: $white;
}
