.btn {
  padding: 0.5rem;
  border: 1px solid $border;
  border-radius: 0.3rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.btn--submit {
  background-color: $navColor;
  color: $white;
}
