.cardBlockShop {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    justify-content: center;
    @include media('<tablet') {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
    //   @include media('<phone') {
    //     grid-template-columns: repeat(2, 10rem);
    //     justify-content: center;
    //   }
  }
  &__noresult {
    font-size: 40px;
    color: #999592;
    text-align: center;
    padding-top: 40px;
    position: relative;
  }
}
