.card-block {
  .container {
    .card-block__title {
      margin-bottom: 1rem;
      font-size: 2.5rem;
      font-family: $font-brand;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card-block__product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
      grid-gap: 1rem;
    }
  }
}
