.card-block {
   @include container;
   margin-top: 4rem;
   &__title {
      margin-bottom: 1rem;
      font-size: 3rem;
      font-family: $font-brand;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: lowercase;
   }
   &__product-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 2rem;
      justify-content: space-between;
      @include media("<tablet") {
         grid-template-columns: repeat(2, 13rem);
         justify-content: center;
      }
      @include media("<phone") {
         grid-template-columns: repeat(2, 10rem);
         justify-content: center;
      }
   }
}
