.card_block {
  width: 100vw;
  .container {
    .title {
      font-family: $font-brand;
      text-transform: capitalize;
      font-size: 300%;
      text-align: left;
    }
    .product_list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
      grid-gap: 0.5rem;
    }
  }
}
