.cart-dropdown {
  position: fixed;
  flex-direction: column;
  padding: 2rem 2rem;
  border: 1px solid black;
  background-color: white;
  top: 5rem;
  right: 7rem;
  @include media("<460px") {
    right: 5%;
    top: 8rem;
  }
  .cartwrap {
    height: 20rem;
    position: relative;
    overflow-y: auto;
    .empty_message {
      font-size: 2rem;
      margin: 50px auto;
    }

    .cart-items {
      display: table;
      margin-right: 1rem;
    }
  }
  .cartLinkWrap {
    background-color: $white;
    display: flex;
    align-items: center;
  }
}
