.cart {
  &__emptymsg {
    h1 {
      -webkit-text-fill-color: $background; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black--secondary;
      margin-top: 1rem;
    }
  }
  &__table {
    width: 100%;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin: 2rem 0;
    padding: 2rem 0;
    tbody {
      font-size: 90%;
      tr {
        text-align: start;
        th {
          text-align: start;
        }
        td {
          text-align: start;
          font-weight: 500;
          &:last-child {
            text-align: end;
          }
        }
      }
    }
  }
  &__total {
    h2 {
      font-size: 1.5rem;
    }
  }
}
