.checkout-item {
   width: 100%;
   display: table-row;
   border-bottom: 1px solid darkgrey;
   font-size: 1.2rem;
   align-items: center;
   .image-container {
      width: 23%;
      padding-right: 1rem;
      display: table-cell;
      vertical-align: middle;
      img {
         width: 4rem;
         height: 4rem;
         display: block;
         object-fit: cover;
         border: 1px solid #ddd;
         opacity: 0.7;
         border-radius: 0.4rem;
      }
   }
   .name,
   .quantity,
   .price,
   .remove-button,
   .sub_total {
      display: table-cell;
      vertical-align: middle;
      padding: 1rem 0;
   }

   .quantity {
      min-width: 5rem;
      position: relative;

      input[type="number"] {
         width: 4rem;
         outline: none;
         border: none;
         padding: 1rem 0 1rem 1rem;
         box-shadow: inset 0px 0px 52px 0px rgba(#c3c3c3, 0.1);
         color: #696969;
         &::-webkit-inner-spin-button,
         &::-webkit-outer-spin-button {
            opacity: 0.5;
            height: 2rem;
         }
      }
   }

   .remove-button {
      padding-left: 12px;
      cursor: pointer;
   }
}
