$sub-color: grey;

@mixin shrinkLabel {
  top: -0.8rem;
  font-size: 0.8rem;
  color: $black;
}

.formBlock {
  position: relative;
  margin: 2.5rem 0;
  .error_label {
    position: absolute;
    bottom: -1.5rem;
    color: #f44336;
    display: block;
    font-size: 0.8rem;
    font-weight: bolder;
    padding: 0.3rem;
  }

  .form_input {
    background: none;
    background-color: transparent;
    color: $sub-color;
    font-size: 1rem;
    padding: 0.8rem 0.8rem 0.8rem 0.3rem;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;

    &:focus {
      outline: none;
    }

    &:focus ~ .form_input_label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form_input_label {
    color: $sub-color;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0.2rem;
    top: 1.3rem;
    transition: 300ms ease all;
    backface-visibility: hidden;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
