.header {
  transition: ease-out 0.3s;
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  background-color: rgba($color-royal-2, 1);
  padding: 0 4rem;
  color: $color-royal-5;
  font-size: 120%;
  backface-visibility: hidden;
  border: none;

  &.minimize {
    transition: ease-out 0.3s;
    height: 3.5rem;
    font-size: 110%;
    .logo_container {
      .logo {
        height: 2rem;
        width: 2rem;
      }
      .brand {
        font-size: 120%;
      }
    }
  }

  .logo_container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    span {
      margin-left: 1rem;
    }
    .logo {
      transition: ease-out 0.3s;
      height: 3rem;
      width: 3rem;
    }
    .brand {
      transition: ease-out 0.3s;
      font-family: $font-brand;
      font-size: 130%;
      transform: translateY(0.2rem);
    }
  }

  .options {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .option {
      padding: 0.6rem 1.2rem;
      cursor: pointer;
    }
    .active {
      color: rgba($color-royal-4, 1);
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
