.header {
  transition: ease-out 0.3s;
  position: fixed;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 102;
  top: 0;
  left: 0;
  background-color: $color-royal-5;
  color: $black;
  font-size: 130%;
  backface-visibility: hidden;
  border: none;
  text-transform: capitalize;
  &.minimize {
    transition: ease-out 0.3s;
    height: 3.5rem;
  }

  .logo_container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    span {
      margin-left: 1rem;
    }
    .logo {
      transition: ease-out 0.3s;
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
    }
    .brand {
      transition: ease-out 0.3s;
      transform: translateY(0.2rem);
    }
  }

  .options {
    height: 100%;
    display: flex;
    align-items: center;
    .option {
      padding: 0 1rem;
      cursor: pointer;
    }
    .active {
      color: rgba($color-royal-4, 1);
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
