.modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 105;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 30vh;
  min-height: calc(var(--vh, 1vh) * 30vh);
  background-color: white;
  min-width: 300px;
  max-width: 600px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 106;
  padding: 1rem;
}
