.grid_bars {
  display: flex;
  width: 100%;
  .image {
    margin-right: 1rem;
  }
}

.image {
  height: 9rem;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
}

.actions {
  display: flex;
  justify-content: space-between;
}
