.setting_dropdown {
    position: fixed;
    min-width: 200px;
    max-height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 70px;
    right: 4rem;
    ul{
      list-style: none;
      li{
        cursor: pointer;
        margin-bottom: 1rem;
        padding-bottom: 2px;
        display: block;
        &:hover{
          border-bottom: 1px solid black;
        }
      }
    }

  }
  