.sidenav_setting {
  letter-spacing: 2px;
  &__link {
    text-transform: capitalize;
    li {
      a {
        font-size: 85%;
        font-weight: 700;
        padding: 1.5rem;
        display: block;
        @include underlineOnHover;
        text-align: center;
      }
    }
  }
}
