.sidenav-cart {
  &__emptymsg {
    margin-top: auto;
    margin-bottom: auto;
    h1 {
      -webkit-text-fill-color: $background; /* Will override color (regardless of order) */
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black--secondary;
      margin-top: 1rem;
    }
  }
  table.sidenav-cart__table {
    width: 100%;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    margin: 1rem 0;
    padding: 1rem 0;
    tbody {
      font-size: 90%;
      tr {
        text-align: start;
        th {
          text-align: start;
          padding: 0.5rem;
        }
        td {
          text-align: start;
          padding: 0.5rem;
          font-weight: 500;
        }
      }
    }
  }
  &__total {
    text-align: end;
    padding: 1rem;
    h2 {
      font-size: 200%;
      font-weight: 300;
      small {
        font-size: 70%;
      }
    }
  }
}
