.sidenav-cart {
  table.sidenav-cart__table {
    width: 100%;
    caption {
      padding-bottom: 2rem;
    }
    tbody {
      font-size: 90%;
      tr {
        text-align: start;
        th {
          text-align: start;
          padding: 0.5rem;
        }
        td {
          text-align: start;
          padding: 0.5rem;
          font-weight: 500;
        }
      }
    }
  }
  &__total {
    text-align: end;
    padding: 1rem;
    h2 {
      font-size: 150%;

      small {
        font-size: 70%;
      }
    }
  }
}
//   &__items {
//     .sidenav-cart__emptymsg {
//       margin: 50px 0;
//       flex-direction: column;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       a {
//         padding: 1rem;
//         display: block;
//       }
//     }
//   }
//   &__footer {
//     display: flex;
//     align-items: flex-end;
//     flex-direction: column;
//     .sidenav-cart__total {
//       font-size: 1rem;
//       padding: 1rem 0;
//     }
//   }
// }
