.featured_collection {
  overflow: hidden;
  position: relative;
  .featured_image {
    position: relative;
    overflow: hidden !important;
    background-size: cover !important;
    background-position: center !important;
  }
  .featured_action {
    .tag {
      padding-top: 1.5rem;
      overflow: hidden;
      position: relative;
      .title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 0.4rem;
        background-color: rgba($color-royal-1, 1);
      }
    }
  }
}
