$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.formBlock {
  position: relative;
  margin: 1.5rem 0;
  .error_label{
    color: #F44336;
    display:block;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
  }

  .form_input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    // margin: 25px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form_input_label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  .form_input_label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 17px;
    transition: 300ms ease all;
    backface-visibility: hidden;

    &.shrink {
      @include shrinkLabel();
    }
  }
}