*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
  font-size: 80%;
  word-spacing: 0.15rem;
  color: $black;
  font-family: $font-primary;
  @include respond(sm) {
    font-size: 92.5%;
  }

  @include respond(md) {
    font-size: 95%;
  }

  @include respond(lg) {
    font-size: 97.5%;
  }
}

body {
  overflow: hidden;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 0.9rem;
}

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
}

.page_layout {
  padding: 1rem 0;
  margin-top: 4rem;
}

.container {
  @include container;
  padding: 1.5rem 0;
}

input,
textarea,
select {
  background-color: transparent;
  font-family: $font-primary;
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  // margin: 1rem;
  background-color: $white;
  border-radius: 2px;
  overflow: hidden;
  border-radius: 0.2rem;
  background-color: rgba($whitesmoke, 1);
}

.disabledCard {
  background-color: rgba($whitesmoke, 0.8);
  border: 1px solid $whitesmoke;
  position: relative;
  margin: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  text-align: start;
  overflow: hidden;
  border-radius: 5px;
}

.tag {
  background-color: rgba($color-royal-2, 2);
  color: rgba($color-royal-5, 0.8);
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.low_title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  font-family: $font-brand;
}

.title {
  text-transform: capitalize;
  font-size: 3rem;
  text-align: center;
  font-family: $font-brand;
}
