*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
  font-size: 80%;
  word-spacing: 0.15rem;
  color: $black;
  font-family: $font-primary;
  background-color: rgba($color-royal-5, 1);

  @include respond(sm) {
    font-size: 92.5%;
  }

  @include respond(md) {
    font-size: 95%;
  }

  @include respond(lg) {
    font-size: 97.5%;
  }
}

.page_layout {
  padding: 1rem 0;
  margin-top: 4rem;
}
.container {
  padding: 1.5rem 2rem;
  @include respond(md) {
    padding: 1.5rem 4rem;
  }
}

input,
textarea,
select {
  background-color: transparent;
  font-family: $font-primary;
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  // margin: 1rem;
  background-color: $white;
  border-radius: 2px;
  overflow: hidden;
  border-radius: 0.2rem;
}

.disabledCard {
  background-color: rgba($whitesmoke, 0.8);
  border: 1px solid $whitesmoke;
  position: relative;
  margin: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  text-align: start;
  overflow: hidden;
  border-radius: 5px;
}

.flex {
  display: flex;
}

.tag {
  background-color: rgba($color-royal-2, 2);
  color: rgba($color-royal-5, 0.8);
  padding: 0px 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.low_title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  font-family: $font-brand;
}

.title {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
