*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 10px;
  word-spacing: 0.15rem;
  color: $black;
  font-family: $font-primary;
  background-color: $color-royal-5;

  @include respond(sm) {
    font-size: 92.5%;
  }

  @include respond(md) {
    font-size: 95%;
  }

  @include respond(lg) {
    font-size: 97.5%;
  }
}

.page_layout {
  padding: 1rem 0;
  margin-top: 4rem;
}
.container {
  padding: 1.5rem 4rem;
}

input,
textarea,
select {
  background-color: transparent;
  font-family: $font-primary;
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  position: relative;
  margin: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  background-color: $white;
  text-align: start;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

.disabledCard {
  background-color: rgba($whitesmoke, 0.8);
  border: 1px solid $whitesmoke;
  position: relative;
  margin: 1rem;
  padding: 2rem 1rem 1rem 1rem;
  text-align: start;
  overflow: hidden;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tbody {
  Loading {
    transform: translate(-50%, -50%);
  }
}

td,
th {
  border: 1px solid #e8e4c9;
  text-align: left;
  // padding: 8px;
}

tr:nth-child(even) {
  background-color: #e8e4c9;
}

.flex {
  display: flex;
}

.tag {
  background-color: rgba($color-royal-2, 0.9);
  color: $color-royal-5;
  padding: 0px 2rem;
  text-transform: uppercase;
  display: table;
}

.tag.title {
  font-size: 3rem;
  font-weight: 700;
}

.tag.low_title {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}
