// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&display=swap');

// FONTS
$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Lato', sans-serif;

// COLORS
$red: #ff033e;
$black: #000000;
$white: #ffffff;
$yellow: #fff3d8;
$whitesmoke: #f5f5f5;

$color-darker: #212121;

// elegant-color TINT (add white)
$color-dark: #2e2e2e;
$color-dark-1: #4b4b4b;
$color-dark-2: #696969;
$color-dark-3: #878787;
$color-dark-4: #a5a5a5;
$color-dark-5: #c3c3c3;
$color-dark-6: #e1e1e1;

// dark wood
$color-wood: #855e42;
// https://www.htmlcsscolor.com/hex/855E42#:~:text=Tints%20of%20Dark%20Wood%20%23855E42&text=Sum%20of%20RGB%20(Red%2BGreen,%2D%20color%20contains%20mainly%3A%20red.

// light border
$light-border: 1px solid rgba($color-dark-5, 0.4);
$dark-border: 1px solid $color-darker;
