.footer-wrapper {
  color: $black--secondary;
  .footer {
    &__credits {
      text-align: center;
      padding: 4rem 0;
      margin-top: 2rem;
      span {
        display: block;
        font-size: 85%;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
