.footer-wrapper {
  font-size: 85%;
  color: $black--secondary;
  .footer {
    &__credits {
      @include flexAlignItemCenter;
      justify-content: center;
      flex-direction: column;
      padding: 2rem 0;
      span {
        font-size: 90%;
      }
    }
  }
}
