.nav {
   text-transform: capitalize;
   font-size: 100%;
   position: relative;
   overflow: hidden;

   background-color: rgb(33, 85, 85);
   &__top {
      @include container;
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4rem;
      .nav__logo {
         display: flex;
         flex-direction: column;
         span:first-child() {
            font-family: $font-brand;
            font-size: 120%;
         }
      }
      .nav__listTop {
         ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
               padding: 1rem;
            }
         }
      }
   }
   &__bottom {
      border-top-left-radius: 25px;
      border-top-right-radius: 5px;
      background-color: $white;
      @include container;
      color: $black--secondary;
      border-bottom: 2px solid $border;
      height: 3rem;
      .nav__listBottom {
         ul {
            @include flexAlignItemCenter;
            justify-content: flex-end;
            li {
               border-left: 1px solid $border;
               a {
                  padding: 1rem 1.5rem;
                  display: block;
                  cursor: pointer;
               }
               a {
                  @include underlineOnHover;
               }
            }
         }
      }
   }

   &__icons {
      @include flexAlignItemCenter;
      .icon {
         margin-left: 1rem;
         cursor: pointer;
      }
   }
}
