.nav {
  text-transform: capitalize;
  font-size: 100%;
  position: relative;
  background-color: rgb(33, 85, 85);
  // background-color: $background--secondary;
  &__top {
    @include container;
    color: $white;
    justify-content: space-between;
    @include flexAlignItemCenter;
    height: 4rem;
    // position: relative;
    .nav__logo {
      position: fixed;
      top: 1rem;
      display: flex;
      flex-direction: column;
      mix-blend-mode: difference;
      span:first-child() {
        font-family: $font-brand;
        font-size: 110%;
      }
    }
    .nav__listTop {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          padding: 1rem;
        }
      }
    }
  }
  &__bottom {
    color: $black--secondary;
    background-color: $background;
    border-bottom: 1px solid $border;
    overflow: hidden;
    .nav__listBottom {
      ul {
        height: 4rem;
        @include container;
        @include flexAlignItemCenter;
        justify-content: flex-end;
        li {
          border-left: 1px solid $border;
          a {
            padding: 1.5rem;
            display: block;
            @include underlineOnHover;
          }
        }
      }
    }
  }

  &__icons {
    @include flexAlignItemCenter;
    .icon {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}
