.sidenav {
   position: fixed;
   top: 4rem;
   right: 0;
   z-index: 102;
   width: 28rem;
   height: calc(100vh - 3rem);
   background-color: $background;
   border-left: 1px solid $border;
   overflow-x: hidden;
   @include customScroll;
   @include media("<tablet") {
      width: 60%;
   }
   @include media("<phone") {
      width: 100%;
   }
   &__main {
      padding: 2rem 2rem 8rem 2rem;
      margin-bottom: 4rem;
   }

   &__footer {
      border-top: 1px solid $border;
   }
}
