.sidenavLeft {
  font-size: 100%;
  letter-spacing: 2px;
  &__logo {
    .nav__logo {
      display: flex;
      flex-direction: column;
    }
  }
  &__list {
    border-radius: 0.5rem;
    border: 2px solid $border;
    font-size: 85%;
    li {
      a {
        margin: 1.5rem;
        display: block;
        @include underlineOnHover;
      }
    }
  }
}
