.sidenav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 102;
  width: 40vw;
  height: 100vh;
  background-color: $background;
  overflow-x: hidden;
  @include customScroll;
  border-left: 2px solid $border;
  border-top: 1px solid $border;
  &__header {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__main {
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
