*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
  font-size: 80%;

  @include respond(sm) {
    font-size: 92.5%;
  }

  @include respond(md) {
    font-size: 95%;
  }

  @include respond(lg) {
    font-size: 97.5%;
  }
}

body {
  // @include customScroll;
  overflow: hidden;
  min-height: 100%;
  background-color: $background;
  width: calc(100vw - 1rem);
  @include media('<tablet') {
    width: 100%;
  }
  // letter-spacing: 2px;
  // &::before {
  //   content: "Allan";
  //   font-family: $font-brand;
  //   color: rgba($black, 0.8);
  //   font-size: 80vh;
  //   position: fixed;
  //   font-variant: inherit;
  //   top: 10%;
  // }
  // background-image: linear-gradient(
  //   to right bottom,
  //   rgba($background, 1),
  //   rgba($background--secondary, 1)
  // );
}

body,
html {
  box-sizing: border-box;
  visibility: hidden;
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
}

.card {
  background-color: $background;
  border: 1px solid $border;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

ul {
  list-style: none;
}
