// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
   @if $breakpoint == sm {
      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) {
         @content;
      }
   }
   @if $breakpoint == md {
      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) {
         @content;
      }
   }

   @if $breakpoint == md-lg {
      // Medium-Large devices (882px and up)
      @media (min-width: 882px) {
         @content;
      }
   }

   @if $breakpoint == lg {
      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) {
         @content;
      } //1800
   }

   @if $breakpoint == xl {
      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {
         @content;
      }
   }
}

@mixin container {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;

   @media (min-width: 768px) {
      width: 750px;
   }
   @media (min-width: 992px) {
      width: 970px;
   }
   @media (min-width: 1200px) {
      width: 1170px;
   }
}

@mixin container-fluid {
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

@mixin absCenter {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

@mixin flexAlignItemCenter {
   display: flex;
   align-items: center;
}

@mixin customScroll {
   /* width */
   &::-webkit-scrollbar {
      width: 8px;
   }
   /* Track */
   &::-webkit-scrollbar-track {
      background: transparent;
   }

   /* Handle */
   &::-webkit-scrollbar-thumb {
      background: #888;
   }

   /* Handle on hover */
   &::-webkit-scrollbar-thumb:hover {
      background: #555;
   }
}

@mixin underlineOnHover {
   position: relative;
   &:after {
      transition: all 0.3s;
      content: "";
      position: absolute;
      width: 0%;
      left: 0px;
      height: 3px;
      bottom: 0;
      transform-origin: left;
      transform: translateY(-50%);
      background-color: rgb(33, 85, 85);
      box-shadow: none;
   }

   &:hover {
      &:after {
         transform-origin: right;
         transform: translateY(-50%);
         opacity: 1;
         width: 100%;
      }
   }
   &.active {
      &:after {
         opacity: 1;
         width: 1rem;
      }
   }
}
