// FONTS
// @font-face {
//   font-family: "Rajdhani";
//   src: url("/font/Rajdhani-Regular.eot");
//   src: local("Rajdhani Regular"), local("Rajdhani-Regular"),
//     url("/font/Rajdhani-Regular.eot?#iefix") format("embedded-opentype"),
//     url("/font/Rajdhani-Regular.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: "Bad Script";
//   src: url("/font/BadScript-Regular.eot");
//   src: local("Bad Script Regular"), local("BadScript-Regular"),
//     url("/font/BadScript-Regular.eot?#iefix") format("embedded-opentype"),
//     url("/font/BadScript-Regular.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }

$font-primary: sans-serif;
$font-brand: 'Aclonica', sans-serif;
// COLORS

$background: #f8f6f2;
$navColor: rgb(33, 85, 85);
$white: #fff;
$red: #ff033e;
$black: #000;
$black--secondary: #212121bf;
$border: rgb(228, 228, 228);
$yellow: #fff3d8;
$whitesmoke: #f5f5f5;

$color-darker: #212121;
$color-royal-1: #8b133b;
$color-royal-2: #04395b;
$color-royal-3: #7d97a9;
$color-royal-4: #d5a520;
$color-royal-5: #ffffff;
