*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  min-height: 70vh;
  background-color: $background;
  width: calc(100vw - 1rem);
  @include media('<tablet') {
    width: 100%;
  }
}

body,
html {
  visibility: hidden;
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
}

.card {
  background-color: $background;
  border: 1px solid $border;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

ul {
  list-style: none;
}
