*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
  font-size: 88%;
  font-weight: 200;
  @include media('>phone') {
    font-size: 90.5%;
  }

  @include media('>tablet') {
    font-size: 92%;
  }

  @include media('>desktop') {
    font-size: 94.5%;
  }

  @include media('>LGdesktop') {
    font-size: 96%;
  }
}

body,
html {
  height: 100%;
  overflow: hidden;
  // visibility: hidden;
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $dark-1;
  padding: 0 2rem;
}

.page {
  min-height: 80vh;
  display: grid;
  grid-template-columns:
    [ full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr)
    [full-end];
  @include media('<tablet') {
    margin: 0;
  }
  margin: 2rem 0 2rem 3rem;
}

.card {
  background-color: $dark-2;
  padding: 3rem;
  border-radius: 0.3rem;
  // box-shadow: 0 2px 4px rgba(#0f548a, 0.2), 0 8px 16px rgba(#0f548a, 0.2);
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

ul {
  list-style: none;
}
