*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow: hidden;
  min-height: 70vh;
  background-color: $background;
  width: calc(100vw - 1rem);
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body,
html {
  visibility: hidden;
  user-select: none;
  overscroll-behavior: none;
  margin: 0;
}

.card {
  background-color: $background;
  padding: 3rem;
  border-radius: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.main_loader {
  text-align: center;
  margin-top: 9rem;
}

ul {
  list-style: none;
}
