// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $breakpoint == md {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == md-lg {
    // Medium-Large devices (882px and up)
    @media (min-width: 882px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      @content;
    } //1800
  }

  @if $breakpoint == xl {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    width: 750px;
  }
  @media (min-width: 992px) {
    width: 970px;
  }
  @media (min-width: 1200px) {
    width: 1180px;
  }
}

@mixin absCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexAlignItemCenter {
  display: flex;
  align-items: center;
}

@mixin underlineOnHover {
  span {
    position: relative;
    &:after {
      transition: all 0.3s;
      content: '';
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0;
      height: 2px;
      transform-origin: left;
      transform: translateY(-50%);
      background: $white-2;
    }
  }

  &:hover {
    span {
      &:after {
        transform-origin: right;
        width: 100%;
      }
    }
  }

  &.active {
    span {
      &:after {
        width: 0.8rem;
      }
    }
  }
}
