body {
  color: $black--secondary;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.heading-primary {
  font-size: 5rem;
  color: $black--secondary;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -5px;
  line-height: 1;

  @include media('<tablet') {
    font-size: 4rem;
  }
  @include media('<phone') {
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 2rem;
  color: $black--secondary;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 0;
  font-weight: 800;
  // -webkit-text-fill-color: $background; /* Will override color (regardless of order) */
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: $black--secondary;
}
