.dropzone_box{
    border: 2px solid gray;
    border-style: dashed;
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.show_upload_image{
    // display: grid;
    // grid-template-columns:repeat(auto-fill, minmax(240px, 1fr));
    // justify-content: center;
    margin: 2rem;
    display: flex;
    justify-content: center;
    .images_to_show{
        margin: 1rem;
    }
}