.header {
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;
    background-color: rgba(#f0f2f5, .9);
    padding: 0 50px;

  .logo_container{
    display: flex;
    align-items: baseline;
    align-items: center;
    span{
      margin-left: 1rem;
    }
    .logo {
      height: 50px;
      width: 50px;
    }
  }
  
    .options {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .option {
        padding: 10px 15px;
        cursor: pointer;
        
        transition: ease-in 3s;
      }
      .active {
        &::after{
          content: "";
          display: block;
          width: 30px;
          border-bottom: 3px solid green; 
        }
      }
    }
}

