.checkout-item {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .image-container {
      width: 23%;
      padding-right: 15px;
  
      img {
        width: 60px;
        height: 60px;
        display: block;
        object-fit: cover;
        border: 1px solid #ddd;
        opacity: 0.7;
        border-radius: 5px;
      }
    }
    .name,.quantity,.price {
      width: 23%;
    }
  
    // .quantity {
    //   display: flex;
  
    //   .arrow {
    //     cursor: pointer;
    //   }
  
    //   .value {
    //     margin: 0 10px;
    //   }
    // }
  
    .quantity {
      min-width: 5rem;
      position: relative;

      input[type='number'] {
        // transform: translateY(-25%);
        width: 4rem;
        outline: none;
        border: none;
        padding: 10px 0 10px 10px;
        box-shadow: inset 0px 0px 52px 0px rgba(#c3c3c3, 0.1);
        color: #696969;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          opacity: 0.5;
          height: 30px;
        }
      }
    }


    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }