.authWrapper {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
  h1 {
    font-size: 12rem;
    z-index: -1;
    @include media('<tablet') {
      font-size: 7rem;
    }
    @include media('<phone') {
      font-size: 4rem;
    }
  }

  form {
    margin-top: 8rem;
    position: absolute;
    width: 25rem;
    @include media('<tablet') {
      width: 80%;
      margin-top: 5rem;
    }
    @include media('<phone') {
      width: 100%;
      margin-top: 0;
    }

    p {
      padding: 2rem 0;
      font-size: 80%;
      font-weight: 200;
      color: $black;
      a {
        text-decoration: underline;

        font-weight: 500;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .form_error {
      text-align: start;
      span {
        color: $red;
      }
    }
  }
}
