.authWrapper {
  grid-column: full-start/full-end;
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content;
  @include media('<tablet') {
    grid-template-columns: 1fr;
  }
  h1 {
    grid-column: 1/-1;
    padding: 1rem 0;
    text-transform: capitalize;
    font-size: 3rem;
    color: $primary;
  }
  form {
    width: 30rem;
    // @include media('<tablet') {
    //   width: 80%;
    // }
    // @include media('<phone') {
    //   width: 100%;
    // }

    p {
      padding: 2rem 0;
      font-size: 0.9rem;
      font-weight: 200;
      color: $white-2;
      a {
        text-decoration: underline;
        font-weight: 500;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    .form_error {
      text-align: start;
      span {
        color: $red;
      }
    }
  }
}
