.cart_wrapper {
  grid-column: full-start/full-end;
  .checkout-page {
    align-items: center;
    margin: 2rem 0;
    width: 100%;
    display: table;
    border-collapse: collapse;
    .checkout-header {
      display: table-row;
      border-bottom: 1px solid darkgrey;
      .header-block {
        text-transform: capitalize;
        display: table-cell;
        vertical-align: middle;
        height: 3rem;
      }
    }
  }

  .total {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: flex-end;
    span {
      margin-bottom: 1rem;
    }
  }
}
