.shop {
  grid-column: full-start/full-end;

  &__content {
    display: grid;
    grid-template-columns: 20rem 1fr;
    column-gap: 3rem;
    @include media('<tablet') {
      grid-template-columns: 1fr;
    }
    .shop__filter {
      .shop__filterblock {
        margin-bottom: 3rem;
        border-radius: 0.3rem;
        // background-color: $dark-2;
      }
      @include media('<tablet') {
        display: none;
      }
    }
    .shop__products {
      padding-left: 3rem;
      @include media('<tablet') {
        width: 100%;
        padding: 0;
      }
    }
  }
}
