.collections {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 2rem;
  .addCollection{
    cursor: pointer;
    min-width: 100%;
    height: 240px;
    background-image: url('../../../assets/img/add.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
  }
}
