.user {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 15rem 1fr;
  justify-content: stretch;
  &__links {
    position: fixed;
    top: 7rem;
    // border-right: 2px solid $border;
  }
  &__main {
    grid-column: 2/3;
  }
}
